#map {
	border: 3px rgb(253, 169, 218) solid;
}

.map__info {
	position: absolute;
	top: 240vh;
	left: 40px;
	z-index: 999;
	max-width: 300px;
	border-radius: 10px;
	padding: 10px;
	box-sizing: border-box;
	border: 3px solid rgba(253, 169, 218, 0);
	cursor: pointer;
}

.info__icon {
	width: 50px;
}
.map__info:hover .info__text {
	display: block;
}

.map__info:hover {
	border: 3px solid rgb(253, 169, 218);
	background: white;
	padding-right: 15px;
}

.info__text {
	display: none;
	transition: display 2s;
}
